@tailwind base;
@tailwind components;
@tailwind utilities;


/* 🌐 Hide scrollbar globally */

/* For Chrome, Safari, Opera */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
body {
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE and Edge */
  overflow-y: scroll;          /* Keep scroll behavior working */
}
